!data/*.geojson
node_modules/
share/
data-old/
tags

packages.json
*.swp
*.zip
launch.json
*.code-workspace

/install_tools.bat
/node.exe
/node_etw_provider.man
/nodeevars.bat
/npm
/npm.cmd
/npx
/npx.cmd
