html,
body {
    background-color: #fff;
    font-family: verdana, sans-serif;
    height: 100%;
}

/* Need this when using navbar fixed-top */
body {
    padding-top: 50px;
}

a {
    outline: 0;
}

#readouts {
    //margin-top: 20px;
}

#btn-label {
    text-transform: uppercase;
}


.dropdown-menu {
    font-size: .8em;
}

.plain-list {
    //display: table-row;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.plain-list > li {
    //display: inline-table;
    //display: inline-block;
}

.item-label {
    font-size: .8em;
    text-transform: capitalize;
}

#modal-directions {
    overflow-y: scroll;
}

#sidebar {
    overflow-y: auto;
    min-width: 300px;
    //padding: 20px;
    //padding-left: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: .05em solid #444;
    margin: .4em 0;
    padding: 0;
}

button {
    //background-color: #466735 !important;
}

#select-property {
    display: block;
}

#select-property label {
    display: block;
    cursor: pointer !important;
    font-size: .75em;
}

.section {
    width: 95%;
    margin-top: 20px;
}

.section-title {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-transform: uppercase;
}

.bar {
    height: 6px;
    border-radius: 3px;
}

.bar-full {
    width: 100%;
    background-color: #aaa;
}

.integrated { background-color: SeaGreen; }
.emerging { background-color: Crimson; }
.transitioning { background-color: Gold; }

/* Readout CSS (see: https://codepen.io/ssteigen/pen/ALAzgw) */
.statistic {
    padding: 2px;
    width: 100%;
    //margin: .5em 0 auto;
    margin: .5em 0;
    margin-top: 20px;
    //padding-right: 10px;
    text-transform: capitalize;
    //background-color: #cacaca;
    //border: 1px solid black;
    border-radius: 5px;
}

.statistic .value {
    font-size: .8em;
    //line-height: .75em;
}

.statistic .value > i {
    //display: inline;
}

.statistic .label {
    width: 60%;
    color: inherit;
    font-size: .8em;
}

/* Bootstrap override CSS (create separate classes?) */
.nav-link {
    color: rgba(255, 255, 255, .6);
}

.nav-link:hover {
    color: rgba(255, 255, 255, .95);
}

.navbar-brand {
    color: #eee !important;
    text-transform: uppercase;
    font-weight: bold;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

/* Leaflet-specific CSS */
.leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    border-radius: .15em;
}

.leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}

.leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}

.leaflet-popup-tip {
    background: #2c3e50;
    //border-left:15px solid transparent;
    //border-right:15px solid transparent;
    //border-top:15px solid #2c3e50;
}

.navbar {
    padding-right: 25px;
    padding-left: 25px;
}

