html,
body {
    background-color: #fff;
    font-family: verdana, sans-serif;
    height: 100%;
}

a {
    outline: 0;
}

.sidebar {
    min-width: 300px;
    padding: 20px;
    padding-left: 30px;
}
/* Bootstrap override CSS (create separate classes?) */

.nav-link {
    color: rgba(255, 255, 255, .6);
}

.nav-link:hover {
    color: rgba(255, 255, 255, .95);
}

.navbar-brand {
    color: #eee !important;
    text-transform: uppercase;
    font-weight: bold;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

#select-property label {
    cursor: pointer !important;
    font-size: .75em;
}

/* Readout CSS (see: https://codepen.io/ssteigen/pen/ALAzgw) */
.statistic {
    margin: .5em 0 auto;
    padding-right: 10px;   /* adding to avoid two stats on one line */
    text-transform: uppercase;
}

.statistic .value {
    font-size: 1.75em;
    line-height: .75em;
}

.statistic .label {
    color: inherit;
    display: block;
    font-size: .75em;
}

/* Leaflet-specific CSS */
.leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    border-radius: .15em;
}

.leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}

.leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}

.leaflet-popup-tip {
    background: #2c3e50;
    //border-left:15px solid transparent;
    //border-right:15px solid transparent;
    //border-top:15px solid #2c3e50;
}

.btn-squared {
    margin: 5px;
    white-space: normal;
    //width: 40% !important;
    //height: 200px !important;
    font-size: 25px;
}
    
.navbar {
    padding-right: 25px;
    padding-left: 25px;
}

/* Need this when using navbar fixed-top */
body {
    padding-top: 50px;
}
