/*
NOTE: This is all in SCSS (a CSS preprocessor).  Didn't use SCSS as much
as I'd hoped to, so if it simplifies things, you may just want to convert
this to plain css and put it in the `main.css` file. 
*/

$btn-xs-bg: rgb(52, 58, 64);
$btn-xs-fg: #fefefe;
$btn-xs-border-radius: 2px;

.btn-xs {
    color: $btn-xs-fg;
    //width: 200px;!important;
    padding: 3px 7px;
    font-size: .8em;
    border: 0;
    border-radius: $btn-xs-border-radius;

    // bootstrap overrides
    background-color: $btn-xs-bg !important;
    outline: none !important;
    box-shadow: none !important;
    outline: none !important;

    :hover,
    :focus, 
    :active { 
        background-color: lighten($btn-xs-bg, 10%) !important;
    }
}


.btn-squared {
    margin: 5px;
    white-space: normal;
    font-size: 25px;
}
    
.dropdown-menu {
    border-radius: $btn-xs-border-radius;
    margin: 0px !important;

    li > a:active {
        background-color: lighten($btn-xs-bg, 30%);
    }
}


