$btn-xs-bg: #575757;
$btn-xs-fg: #fefefe;
$btn-xs-border-radius: 2px;

.btn-xs {
    color: $btn-xs-fg;
    //width: 200px;
    padding: 3px 7px;
    font-size: .8em;
    border: 0;
    border-radius: $btn-xs-border-radius;

    // bootstrap overrides
    background-color: $btn-xs-bg !important;
    outline: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-xs:hover,
.btn-xs:focus, 
.btn-xs:active { 
    background-color: lighten($btn-xs-bg, 10%) !important;
}

.btn-squared {
    margin: 5px;
    white-space: normal;
    font-size: 25px;
}
    
.dropdown-menu{
    border-radius: $btn-xs-border-radius;
    margin: 0px !important;
    //padding: 0px !important;
}

.dropdown-menu > li > a:active {
    background-color: lighten($btn-xs-bg, 30%);
}

